.message {
  display: flex;
  width: 100%;
  max-width: 600px;
  border-radius: 5px;
  margin: auto;
  margin-top: 1.25rem;
}

.message.success {
  background-color: rgb(83, 230, 137);
  border: 1px solid rgb(22 101 52);
}

.message.booked {
  background-color: rgb(83, 230, 137);
  border: 1px solid rgb(22 101 52);
}

.message.loading {
  background-color: rgb(249, 235, 134);
  border: 1px solid rgb(126, 75, 0);
}

.message.error {
  background-color: rgb(252, 165, 165);
  border: 1px solid rgb(153 27 27);
}
